<div class="bggg bg-dark">
  <div class="container py-5 text-light">
    <div class="tex text-center ">
      <h1 class="text-white">Skills</h1>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum,
        laudantium. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Asperiores porro consequatur possimus, numquam similique obcaecati
        aperiam aliquam ducimus facilis. Voluptates non rerum voluptas,
        laudantium molestias quidem necessitatibus accusamus reiciendis nulla.
      </p>
    </div>

    <div class="cotent mt-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-4 text-center">
          <h1 class="text-white">Progres</h1>
          <p class="my-1">Lorem ipsum dolor sit amet.</p>
          <p class="my-1">Lorem ipsum dolor sit amet.</p>
          <p class="my-1">Lorem ipsum dolor sit amet.</p>
          <p class="my-1">Lorem ipsum dolor sit amet.</p>
          <p class="my-1">Lorem ipsum dolor sit amet.</p>
         
        </div>
        <div class="col-md-8">
          <!-- <div
            class="progress"
            role="progressbar"
            aria-label="Basic example"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar" style="width: 0%"></div>
          </div> -->
         
            <div
              class="progress rounded-0  mb-1"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="fs-5 p-2 bg-secondary text-center proItem">HTML</span>
              <div class="progress-bar bg-dark-subtle" style="width: 70%"></div>
            </div>

            <div
              class="progress rounded-0  mb-1"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="fs-5 p-2 bg-secondary text-center proItem">CSS</span>
              <div class="progress-bar bg-dark-subtle" style="width: 82%"></div>
            </div>
            <div
              class="progress rounded-0 mb-1"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class=" fs-5 p-2 bg-secondary text-center proItem">JS</span>
              <div class="progress-bar bg-dark-subtle" style="width: 65%"></div>
            </div>
            <div
              class="progress rounded-0  mb-1"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class=" fs-5 p-2 bg-secondary text-center proItem">BootStrap</span>
              <div class="progress-bar bg-dark-subtle" style="width: 50%"></div>
            </div>
            <div
              class="progress rounded-0 mb-1"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class=" fs-5 p-2 bg-secondary text-center proItem">Ts</span>
              <div class="progress-bar bg-dark-subtle" style="width: 25%"></div>
            </div>
            <div
              class="progress rounded-0  "
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="fs-5 p-2 bg-secondary text-center proItem">Angular</span>
              <div class="progress-bar bg-dark-subtle" style="width: 35%"></div>
            </div>
      
          <!-- <div
            class="progress"
            role="progressbar"
            aria-label="Basic example"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar" style="width: 50%"></div>
          </div> -->
          <!-- <div
            class="progress"
            role="progressbar"
            aria-label="Basic example"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar" style="width: 75%"></div>
          </div> -->
          <!-- <div
            class="progress"
            role="progressbar"
            aria-label="Basic example"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div class="progress-bar" style="width: 100%"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
