<div class="container py-5">
  <h1 class="mb-3">Protfolio</h1>

  <div class="images row text-white text-center">
    <div class="box col-md-6 col-lg-4 mb-3">
      <!-- <div class="boxCon border border-1 border-black"> -->
      <a href="">
        <div
          class="boxCon bg-dark-subtle d-flex align-items-center justify-content-center rounded-1 border border-2 border-black"
        >
          <div>
            <h3>Box-Num-1</h3>
            <P>Lorem ipsum dolor sit amet.</P>
          </div>
        </div>
      </a>
    </div>
    <div class="box col-md-6 col-lg-4 mb-3">
      <!-- <div class="boxCon border border-1 border-black"> -->
      <a href="">
        <div
          class="boxCon bg-dark d-flex align-items-center justify-content-center border rounded-1 border-2 border-black"
        >
          <div>
            <h3>Box-Num-2</h3>
            <P>Lorem ipsum dolor sit amet.</P>
          </div>
        </div>
      </a>
    </div>

    <div class="box col-md-6 col-lg-4 mb-3">
      <!-- <div class="boxCon border border-1 border-black"> -->

      <a href="">
        <div
          class="boxCon bg-dark-subtle d-flex align-items-center justify-content-center rounded-1 border border-2 border-black"
        >
          <div>
            <h3>Box-Num-3</h3>
            <P>Lorem ipsum dolor sit amet.</P>
          </div>
        </div>
      </a>
    </div>

    <div class="box col-md-6 col-lg-4 mb-3">
      <!-- <div class="boxCon border border-1 border-black"> -->

      <a href="">
        <div
          class="boxCon bg-dark d-flex align-items-center justify-content-center border rounded-1 border-2 border-black"
        >
          <div>
            <h3>Box-Num-4</h3>
            <P>Lorem ipsum dolor sit amet.</P>
          </div>
        </div>
      </a>
    </div>

    <div class="box col-md-6 col-lg-4 mb-3">
      <!-- <div class="boxCon border border-1 border-black"> -->

      <a href="">
        <div
          class="boxCon bg-dark-subtle d-flex align-items-center justify-content-center border rounded-1 border-2 border-black"
        >
          <div>
            <h3>Box-Num-5</h3>
            <P>Lorem ipsum dolor sit amet.</P>
          </div>
        </div>
      </a>
    </div>

    <div class="box col-md-6 col-lg-4 mb-3">
      <!-- <div class="boxCon border border-1 border-black"> -->
      <a href="">
        <div
          class="boxCon bg-dark d-flex align-items-center justify-content-center border border-2 rounded-1 border-black"
        >
          <div>
            <h3>Box-Num-6</h3>
            <P>Lorem ipsum dolor sit amet.</P>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
